{extend name="common/base" /}
{block name="style"}
<!-- dropify.min.css -->
<link href="{$Think.config.system_static}plugins/dropify/css/dropify.min.css" rel="stylesheet" type="text/css"/>
<!-- viewer图片查看器-->
<link href="{$Think.config.system_static}plugins/viewer/viewer.min.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="main"}
<div class="page-inner">
    <div class="page-title">
        <h3>{$title}</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="panel panel-body panel-white">
                {if condition="@checkAuth('/admin/Advert/advertAdd')"}
                <button type="button" class="btn btn-success m-b-sm" onclick="advertAdd('');">新增广告</button>
                {/if}
                <div class="table-responsive">
                    <table id="advertTables" class="display table" style="width: 100%; cellspacing: 0;">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>广告名称</th>
                            <th>广告描述</th>
                            <th>广告图片</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="list_body">
                        {volist name="advertList" id="item"}
                        <tr>
                            <td>{$item.aid}</td>
                            <td>{$item.a_title}</td>
                            <td>{$item.a_desc}</td>
                            <td>{notempty name="item.a_pic"}
                                <img src="{$item.a_pic}" data-original="{$item.a_pic}" class="img-thumbnail img-responsive img-thumb-small" />
                                {else /}-{/notempty}</td>
                            <td>{$item.sort}</td>
                            <td>{$item.create_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                {if condition="@checkAuth('/admin/Advert/advertEdit')"}
                                <button type="button" class="btn btn-info" onclick="advertEdit({$item.aid});">修改</button>
                                {/if}
                                {if condition="@checkAuth('/admin/Advert/advertDel')"}
                                <button type="button" class="btn btn-default" onclick="advertDel({$item.aid});">删除</button>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script src="{$Think.config.system_static}plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="{$Think.config.system_static}plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<!-- dropify上传插件 -->
<script src="{$Think.config.system_static}plugins/dropify/js/dropify.js"></script>
<!-- viewer图片查看器 -->
<script src="{$Think.config.system_static}plugins/viewer/viewer-jquery.min.js"></script>
<script type="application/javascript">
    $(function(){
        $('#list_body').viewer({
            url:"data-original"
        });
        $('#advertTables').DataTable({
            paging: false,
            info: false,
            ordering:false,
            searching:false,
            language:lang
        });
    });
    {if condition="@checkAuth('/admin/Advert/advertAdd')"}
    //新增广告
    function advertAdd(id){
        $.myModal.open({
            remote:'/admin/Advert/advertAdd',
            backdrop: 'static',
            keyboard: false,
            show:true,
            success:function(o){
                init_upload() ;
                advertValid();
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/Advert/advertEdit')"}
    //修改广告
    function advertEdit(id){
        $.myModal.open({
            remote:'/admin/Advert/advertEdit?aid='+ id,
            backdrop: 'static',
            keyboard: false,
            show:true,
            success:function(o){
                init_upload() ;
                advertValid();
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/Advert/advertDel')"}
    //修改广告
    function advertDel(id){
        $.myModal.open({
            remote:'/admin/Advert/advertDel?aid='+ id,
            backdrop: 'static',
            keyboard: false,
            show:true,
        }) ;
    }
    {/if}
</script>
{/block}
