<form class="form-horizontal" name="ruleForm" method="post" action="/admin/ArticleCategory/submitCateDel">
    <input type="hidden" id="cid" name="cid" value="{$info.cid}" />
    <div class="modal-body">
        确认要删除<span class="f-red">{$info.cate_title}</span>吗?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" id="add-row" class="btn btn-success">确认</button>
    </div>
</form>