{extend name="common/base" /}
{block name="style"}
<!-- dropify.min.css -->
<link href="{$Think.config.system_static}plugins/dropify/css/dropify.min.css" rel="stylesheet" type="text/css"/>
<!-- viewer图片查看器-->
<link href="{$Think.config.system_static}plugins/viewer/viewer.min.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="main"}
<div class="page-inner">
    <div class="page-title">
        <h3>{$title}</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="panel panel-body panel-white">
                {if condition="@checkAuth('/admin/SinglePage/singleAdd')"}
                <button type="button" class="btn btn-success m-b-sm" onclick="singleAdd();">新增页面</button>
                {/if}
                <div class="table-responsive">
                    <table id="cateTables" class="display table" style="width: 100%; cellspacing: 0;">
                        <thead>
                        <tr>
                            <th>页面ID</th>
                            <th>页面名称</th>
                            <th>页面描述</th>
                            <th>页面图片</th>
                            <th>排序</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="item"}
                        <tr>
                            <td>{$item.id}</td>
                            <td>{$item.p_name}</td>
                            <td>{$item.p_description}</td>
                            <td>{notempty name="item.p_picurl"}
                                <img src="{$item.p_picurl}" data-original="{$item.p_picurl}" class="img-thumbnail img-responsive img-thumb-small" />
                                {else /}-{/notempty}</td>
                            <td>{$item.sort}</td>
                            <td>{$item.create_time|date="Y-m-d H:i:s",###}</td>
                            <td>
                                {if condition="@checkAuth('/admin/SinglePage/singleEdit')"}
                                <button type="button" class="btn btn-info" onclick="singleEdit({$item.id});">修改</button>
                                {/if}
                                {if condition="@checkAuth('/admin/SinglePage/singleDel')"}
                                <button type="button" class="btn btn-default" onclick="singleDel({$item.id});">删除</button>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                    <div class="text-center">
                        {$list->render()}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script src="{$Think.config.system_static}plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="{$Think.config.system_static}plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<!-- 编辑器 -->
<script src="{$Think.config.system_static}plugins/kindeditor/kindeditor-all-min.js"></script>
<!-- dropify上传插件 -->
<script src="{$Think.config.system_static}plugins/dropify/js/dropify.js"></script>
<!-- viewer图片查看器 -->
<script src="{$Think.config.system_static}plugins/viewer/viewer-jquery.min.js"></script>
<script type="application/javascript">
    $(function(){
        $('#cateTables').DataTable({
            paging: false,
            info: false,
            ordering:false,
            searching:false,
            language:lang
        });
    });
    {if condition="@checkAuth('/admin/SinglePage/singleAdd')"}
    //新增页面
    function singleAdd(){
        $.myModal.open({
            remote:'/admin/SinglePage/singleAdd',
            backdrop: 'static',
            style: {'min-width' : '80%'},
            keyboard: false,
            show:true,
            success:function(o){
                init_upload() ;
                init_editor() ;
                singleValid() ;
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/SinglePage/singleEdit')"}
    //修改页面
    function singleEdit(id){
        $.myModal.open({
            remote:'/admin/SinglePage/singleEdit?id='+ id,
            backdrop: 'static',
            style: {'min-width' : '80%'},
            keyboard: false,
            show:true,
            success:function(o){
                init_upload() ;
                init_editor() ;
                singleValid() ;
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/SinglePage/singleDel')"}
    //删除页面
    function singleDel(id){
        $.myModal.open({
            remote:'/admin/SinglePage/singleDel?id='+ id,
            backdrop: 'static',
            keyboard: false,
            show:true,
        }) ;
    }
    {/if}
</script>
{/block}
