{extend name="common/base" /}
{block name="style"}
<link href="{$Think.config.app_config.plugins_static}dropzone/dropzone.min.css" rel="stylesheet" type="text/css"/>
<!-- viewer图片查看器-->
<link href="{$Think.config.system_static}plugins/viewer/viewer.min.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="main"}
<div class="page-inner">
    <div class="page-title">
        <h3>{$title}</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="panel panel-body panel-white">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <select class="form-control" name="cid">
                            {empty name="cateTree"}
                            <option value="0">--无单页--</option>
                            {else /}
                            {volist name="cateTree" id="cate"}
                            <option value="{$cate.cid}" {if condition="$cate.cid eq $cid"}selected{/if}>{$cate.c_name}</option>
                            {/volist}
                            {/empty}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-info">查询</button>
                </form>
            </div>
            {notempty name="cateTree"}
            <div class="panel panel-body">
                <form class="form-horizontal" name="singleForm" method="post" action="/admin/SinglePage/submitSingleEdit" enctype="multipart/form-data">
                    <input type="hidden" name="cid" id="cid" value="{$cid}" />
                    <div class="form-group">
                        <label for="p_content" class="col-sm-2 control-label">页面内容</label>
                        <div class="col-sm-8">
                            <div id="p_content"></div>
                            <textarea name="p_content" class="form-control hidden">{$info.p_content}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-success">提交</button>
                        </div>
                    </div>
                </form>
            </div>
            {/notempty}
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script src="{$Think.config.system_static}plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="{$Think.config.system_static}plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<!-- wangEditoer.js编辑器 -->
<script src="{$Think.config.app_config.plugins_static}wangEditor/wangEditor.min.js"></script>
<script src="{$Think.config.app_config.plugins_static}dropzone/dropzone.min.js"></script>
<!-- viewer图片查看器 -->
<script src="{$Think.config.system_static}plugins/viewer/viewer-jquery.min.js"></script>
<script type="application/javascript">
    $(function(){
        $('#cateTables').DataTable({
            paging: false,
            info: false,
            ordering:false,
            searching:false,
            language:lang
        });
        initWangEditor('#p_content',$('textarea[name="p_content"]')) ;
    });

</script>
{/block}
