{extend name="common/base" /}
{block name="main"}
<div class="page-inner">
    <div class="page-title">
        <h3>{$title}</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="panel panel-body panel-white">
                {if condition="@checkAuth('/admin/Consolemenu/menuAdd')"}
                <button type="button" class="btn btn-success m-b-sm" onclick="menuAdd('');">新增菜单</button>
                {/if}
                <div class="table-responsive">
                    <div class="dataTables_wrapper">
                        <table id="menusTables" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                            <tr>
                                <!--<th>&emsp;折叠</th>-->
                                <th>权限名称</th>
                                <th>权限</th>
                                <th>类型</th>
                                <th>排序</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="menulist" id="item"}
                            <tr data-id="{$item.id}" data-pid="{$item.parent_id}" {neq name="item._level" value="1"}class="hide"{/neq}>

                                <td>
                                    {:str_repeat('&emsp;',$item['_level'])}{eq name="item._child" value="true"}<span class="fold f-s-14 fa fa-plus-square-o"></span>{else /}<span class="fold f-s-14 fa fa-minus-square-o"></span>{/eq} {$item._name}
                                </td>
                                <td>{$item.menu_url}</td>
                                <td>{switch name="item.type"}
                                    {case value="1"}菜单{/case}
                                    {case value="2"}操作{/case}
                                    {/switch}</td>
                                <td>{$item.sort}</td>
                                <td>{switch name="item.status"}
                                    {case value="1"}正常{/case}
                                    {case value="-1"}<span class="text-danger">禁用</span>{/case}
                                    {/switch}</td>
                                <td>
                                    {if condition="@checkAuth('/admin/Consolemenu/menuAdd')"}
                                    <button type="button" class="btn btn-success" onclick="menuAdd({$item.id})">添加子菜单</button>
                                    {/if}
                                    {if condition="@checkAuth('/admin/Consolemenu/menuEdit')"}
                                    <button type="button" class="btn btn-info" onclick="menuEdit({$item.id});">修改</button>
                                    {/if}
                                    {if condition="@checkAuth('/admin/Consolemenu/menuDel')"}
                                    <button type="button" class="btn btn-default" onclick="menuDel({$item.id});">删除</button>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script src="{$Think.config.system_static}plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="{$Think.config.system_static}plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script type="application/javascript">
    $(function(){
        $('#menusTables').DataTable({
            paging: false,
            info: false,
            ordering:false,
            searching:false,
            language:lang
        });
        //折叠器,显示隐藏
        $('#menusTables').on('click','.fold',function(){
            var theTrObj = $(this).parents('tr') ;
            var foldpid = theTrObj.attr('data-id') ;
            if($(this).hasClass('fa-plus-square-o')){
                theTrObj.siblings('tr[data-pid="'+ foldpid +'"]').removeClass('hide') ;
                $(this).removeClass('fa-plus-square-o').addClass('fa-minus-square-o') ;
            }else{
                if($('tr[data-pid="'+ foldpid +'"]').length > 0){
                    theTrObj.siblings('tr[data-pid="'+ foldpid +'"]').addClass('hide') ;
                    $(this).removeClass('fa-minus-square-o').addClass('fa-plus-square-o') ;
                }
            }
        });
    });
    {if condition="@checkAuth('/admin/Consolemenu/menuAdd')"}
    //新增用户
    function menuAdd(id){
        $.myModal.open({
            remote:'/admin/Consolemenu/menuAdd?menu_id=' + id,
            backdrop: 'static',
            keyboard: false,
            show:true,
            success:function(o){
                menuValid();
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/Consolemenu/menuEdit')"}
    //修改用户
    function menuEdit(id){
        $.myModal.open({
            remote:'/admin/Consolemenu/menuEdit?menu_id='+ id,
            backdrop: 'static',
            keyboard: false,
            show:true,
            success:function(o){
                menuValid();
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/Consolemenu/menuDel')"}
    //修改用户
    function menuDel(id){
        $.myModal.open({
            remote:'/admin/Consolemenu/menuDel?menu_id='+ id,
            backdrop: 'static',
            keyboard: false,
            show:true,
        }) ;
    }
    {/if}
</script>
{/block}
