{extend name="common/base" /}
{block name="style"}
{/block}
{block name="main"}
<div class="page-inner">
    <div class="page-title">
        <h3>{$title}</h3>
    </div>
    <div id="main-wrapper">
        <div class="row">
            <div class="panel panel-body">
                <form class="form-inline" role="form">
                    {if condition="@checkAuth('/admin/Navigation/navAdd')"}
                    <div class="form-group">
                        <input type="button" class="btn btn-success" onclick="navAdd({$navcate_id},'');" value="新增导航"/>
                    </div>
                    {/if}
                    <div class="form-group">
                        <select class="form-control" name="cate_id">
                            {volist name="catelist" id="cate"}
                            <option value="{$cate.cate_id}" {if condition="$cate.cate_id eq $navcate_id"}selected{/if}>{$cate.cate_name}</option>
                            {/volist}
                        </select>
                    </div>
                </form>
                <div class="table-responsive">
                    <div class="dataTables_wrapper">
                        <table id="menusTables" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                            <tr>
                                <th>分类名称</th>
                                <th>分类跳转</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {volist name="$list" id="item"}
                            <tr>
                            <td>{$item._name}</td>
                            <td>{:get_nav_link($item.nav_link)}</td>
                            <td>{$item.sort}</td>
                            <td>
                                {if condition="@checkAuth('/admin/Navigation/navAdd')"}
                                <button type="button" class="btn btn-success" onclick="navAdd({$navcate_id},{$item.nav_id})">添加子导航</button>
                                {/if}
                                {if condition="@checkAuth('/admin/Navigation/navEdit')"}
                                <button type="button" class="btn btn-info" onclick="navEdit({$item.nav_id});">修改</button>
                                {/if}
                                {if condition="@checkAuth('/admin/Navigation/navDel')"}
                                <button type="button" class="btn btn-default" onclick="navDel({$item.nav_id});">删除</button>
                                {/if}
                            </td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="footer_js"}
<script src="{$Think.config.system_static}plugins/datatables/js/jquery.datatables.min.js"></script>
<script src="{$Think.config.system_static}plugins/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script type="application/javascript">
    $(function(){
        $('#menusTables').DataTable({
            paging: false,
            info: false,
            ordering:false,
            searching:false,
            language:lang
        });
        $('select[name="cate_id"]').on('change',function () {
            location.href = '/admin/Navigation/index?cate_id='+ $(this).val() ;
        }) ;
    });
    {if condition="@checkAuth('/admin/Navigation/navAdd')"}
    //新增导航
    function navAdd(cate_id,nav_id){
        $.myModal.open({
            remote:'/admin/Navigation/navAdd?cate_id='+cate_id+'&nav_id=' + nav_id,
            backdrop: 'static',
            style:{'width':'80%'},
            keyboard: false,
            show:true,
            success:function(o){
                init_modal() ;
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/Navigation/navEdit')"}
    //修改用户
    function navEdit(id){
        $.myModal.open({
            remote:'/admin/Navigation/navEdit?nav_id='+ id,
            backdrop: 'static',
            style:{'width':'80%'},
            keyboard: false,
            show:true,
            success:function(o){
                init_modal() ;
            }
        }) ;
    }
    {/if}
    {if condition="@checkAuth('/admin/Navigation/navDel')"}
    //修改用户
    function navDel(id){
        $.myModal.open({
            remote:'/admin/Navigation/navDel?nav_id='+ id,
            backdrop: 'static',
            keyboard: false,
            show:true,
        }) ;
    }
    {/if}
</script>
{/block}
