<form class="form-horizontal" name="ruleForm" method="post" action="/admin/Datas/submitDel">
    <input type="hidden" name="time" value="{$time}">
    <div class="modal-body">
        确认要删除一下文件吗？<span class="f-red">
        {volist name="files" id="item"}
        <br />
        {$item}
        {/volist}
        </span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" id="add-row" class="btn btn-success">确认</button>
    </div>
</form>