<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">新增广告分类</h4>
</div>
<form class="form-horizontal" name="categoryForm" method="post" action="/admin/AdvertCategory/submitCateAdd">
    <div class="modal-body">
        <div class="form-group">
            <label for="c_name" class="col-sm-2 control-label">分类名称</label>
            <div class="col-sm-8">
                <input type="text" id="c_name" name="c_name" class="form-control" dataType="s2-20" nullmsg="请输入分类名称" errormsg="分类名称为2-20位字符串" sucmsg=" " placeholder="请输入分类名称" maxlength="20"/>
            </div>
        </div>
        <div class="form-group">
            <label for="c_desc" class="col-sm-2 control-label">分类描述</label>
            <div class="col-sm-8">
                <textarea id="c_desc" name="c_desc" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="sort" class="col-sm-2 control-label">排序</label>
            <div class="col-sm-8">
                <input type="text" name="sort" id="sort" class="form-control" value="50"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-8">
                <label class="checkbox-inline">
                    <input type="radio" name="status" value="1" checked>&nbsp;正常
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="status" value="-1">&nbsp;禁用
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="submit" id="add-row" class="btn btn-success">新增</button>
    </div>
    {:token('token_hash')}
</form>

<script type="text/javascript">
   function menuValid(){
        $("form[name='categoryForm']").Validform({
            tiptype: 3,
            ajaxPost: false,
            postonce: false,
            callback: function(data){
                //执行登录
                return true ;
            }
        });
    }
</script>
