<!-- Styles -->
<!-- google字体 -->
<link href="{$Think.config.system_static}plugins/googleapis-fonts/fonts.css" rel="stylesheet" type="text/css">
<!-- 网页加载进度条 -->
<link href="{$Think.config.system_static}plugins/pace-master/themes/blue/pace-theme-flash.css" rel="stylesheet"/>
<link href="{$Think.config.system_static}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- 字体图标 -->
<link href="{$Think.config.system_static}plugins/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<!-- 简单线条图标集合 -->
<link href="{$Think.config.system_static}plugins/line-icons/simple-line-icons.css" rel="stylesheet" type="text/css"/>
<!-- 侧栏菜单展开显示效果 -->
<link href="{$Think.config.system_static}plugins/offcanvasmenueffects/css/menu_cornerbox.css" rel="stylesheet" type="text/css"/>
<!-- 点击效果 -->
<link href="{$Think.config.system_static}plugins/waves/waves.min.css" rel="stylesheet" type="text/css"/>
<!-- 复选框美化成IOS7的开关按钮 -->
<link href="{$Think.config.system_static}plugins/3d-bold-navigation/css/style.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/slidepushmenus/css/component.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/weather-icons-master/css/weather-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/metrojs/MetroJs.min.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/toastr/toastr.min.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/datatables/css/jquery.datatables.min.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/datatables/css/jquery.datatables_themeroller.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}plugins/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
<!-- Theme Styles -->
<link href="{$Think.config.system_static}css/modern.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}css/themes/white.css" class="theme-color" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}css/custom.css" rel="stylesheet" type="text/css"/>
<!-- 表单验证插件 -->
<link href="{$Think.config.system_static}plugins/validform/validform.css" rel="stylesheet" type="text/css"/>
<!-- 弹出层css -->
<link href="{$Think.config.app_config.plugins_static}sweetalert/sweetalert.css" rel="stylesheet" type="text/css">