
<!DOCTYPE html>
<html>
<head>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<meta charset="UTF-8">
<!-- Title -->
<title>Singeo后台管理系统</title>
<meta name="description" content="Admin Dashboard Template"/>
<meta name="keywords" content="admin,dashboard"/>
<meta name="author" content="Steelcoders"/>
<!-- Styles -->
<!-- google字体 -->
<link href="{$Think.config.system_static}plugins/googleapis-fonts/fonts.css" rel="stylesheet" type="text/css">
<link href="{$Think.config.system_static}plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- Theme Styles -->
<link href="{$Think.config.system_static}css/modern.css" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}css/themes/white.css" class="theme-color" rel="stylesheet" type="text/css"/>
<link href="{$Think.config.system_static}css/custom.css" rel="stylesheet" type="text/css"/>
<!-- 表单验证插件 -->
<link href="{$Think.config.system_static}plugins/validform/validform.css" rel="stylesheet" type="text/css"/>
<style type="text/css">
    .verify-code-img{
        width:100%;
        height:60px;
    }
</style>
</head>
<body class="page-login">
<main class="page-content">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="javascript:void(0);" class="logo-name text-lg text-center">singeo - 后台管理</a>
                        <p class="text-center m-t-md">请登录您的账户</p>
                        <form class="m-t-md" name="login_form">
                            <div class="form-group">
                                <input name="user_name"  class="form-control" dataType="s" nullmsg="请输入登录账号" errormsg="账户为2-20位字符串" sucmsg=" " placeholder="请输入登录账号" maxlength="20">
                            </div>
                            <div class="form-group">
                                <input name="user_password" type="password" class="form-control" dataType="s6-24" nullmsg="请输入登录密码" errormsg="登录密码为6-24位字符串" sucmsg=" " placeholder="请输入登录密码" maxlength="24">
                            </div>
                            <div class="form-group">
                                <input name="user_verify" type="text" class="form-control" dataType="s" nullmsg="请输入图片验证码" errormsg="验证码格式错误" sucmsg=" " placeholder="请输入图片验证码" maxlength="4">
                            </div>
                            <div class="form-group">
                                <img src="/login/verify" class="verify-code-img" onclick="this.src = '/login/verify?'+ Math.random()">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">登录</button>
                        </form>
                        <p class="text-center m-t-xs text-sm">2018 &copy; www.singeo.cn</p>
                    </div>
                </div>
            </div><!-- Row -->
        </div><!-- Main Wrapper -->
    </div><!-- Page Inner -->
</main><!-- Page Content -->
<script src="{$Think.config.system_static}plugins/jquery/jquery-2.1.3.min.js"></script>
<script src="{$Think.config.system_static}plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{$Think.config.system_static}plugins/validform/validform.min.js"></script>
<script src="{$Think.config.system_static}js/modal.ext.js"></script>
<script type="text/javascript">
$(function(){
    $("form[name='login_form']").Validform({
        tiptype: 3,
        ajaxPost: false,
        postonce: false,
        callback: function(data){
            //执行登录
            adminLogin() ;
            return false ;
        }
    });
});
//执行登录
function adminLogin() {
    $.ajax({
        type: 'post',
        url: '/console/login_ok',
        data: $('form[name="login_form"]').serialize(),
        async: true,
        dataType: 'json',
        success: function(context){
            if(context.status == 1){
                //登录成功
                window.location.href = '/admin/Index' ;
            }else{
                $.myModal.alert({
                    content : context.msg ,
                    btn : true ,
                    end : function (o) {
                        $('.verify-code-img').prop('src','/login/verify?'+ Math.random()) ;
                    }
                }) ;
            }
        }
    });
}
</script>
</body>
</html>